<body class="h-screen">
  <%- include('partials/navbar') %>
  <main class="container mx-auto my-12">
    <div class="px-4 overflow-x-auto md:px-2">
      <form
        action="/contacts?_method=PUT"
        method="post"
        class="grid w-full my-6 place-items-center"
      >
        <input type="hidden" name="_id" value="<%= contact._id %>" />
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => {
        %>
        <div class="mb-4">
          <div class="shadow-lg alert alert-error">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 w-6 h-6 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>Error! <%= error.msg %> </span>
            </div>
          </div>
        </div>
        <% }) %> <% } %>

        <div class="flex items-center justify-between gap-2 mb-4">
          <a href="/contacts" class="btn btn-sm btn-ghost">Back</a>
          <h2 class="text-xl font-semibold">Edit Contact</h2>
        </div>
        <div class="mb-4">
          <label class="block" for="name">Name</label>
          <input
            value="<%= contact.name %>"
            required
            type="text"
            name="name"
            id="name"
            class="w-full max-w-xs ml-auto input input-bordered"
          />
        </div>
        <div class="mb-4">
          <label class="block" for="nohp">Phone</label>
          <input
            value="<%= contact.nohp %>"
            required
            type="tel"
            name="nohp"
            id="nohp"
            class="w-full max-w-xs ml-auto input input-bordered"
          />
        </div>
        <div class="mb-4">
          <label class="block" for="email">email</label>
          <input
            value="<%= contact.email %>"
            type="email"
            name="email"
            id="email"
            class="w-full max-w-xs ml-auto input input-bordered"
          />
        </div>
        <div class="grid place-items-center">
          <button class="btn btn-primary">Save</button>
        </div>
        <input
          type="hidden"
          name="oldName"
          value="<%= contact.oldName || contact.name %>"
        />
      </form>
    </div>
  </main>
</body>
